<!-- include header -->
<%-include('include/header') %>
<!-- /include header -->



    <!-- main site -->
    <main id="site-main">
        <div class="container">
         <div class="box-nav d-flex justify-between">

         <div class="filter" class="border-shadow">
            <a href="/"><i class="fa-sharp fa-solid fa-circle-left"></i>All Users</a>  
        </div>
        </div>
        <div class="form-title text-center" >
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use below form to create new account</span>
        </div>

         <!-- form handeling -->
          
         <%- include("include/form") %>
        </div>
    </main>
    <!-- /main site -->


<!-- include footer -->
<%- include("include/footer") %>
<!-- /include footer -->