<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APPLICATION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<link rel="stylesheet" href="/assets/css/style.css">
<body>
    <!-- header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">USER MANAGEMENT SYSTEM</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header section end -->

    <!-- main site -->
    <main id="site-main">
        <div class="container">
         <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User<i class="fa-solid fa-user-plus"></i></span>
            </a>
         </div>
         <!-- form handeling -->
           <form action="/" method="post">
             <table class="table">
             <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>GENDER</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                    <td>1</td>
                    <td>Username</td>
                    <td>example@gmail.com</td>
                    <td>Male</td>
                    <td>Active</td>
                    <td>
                        <a href="#" class="btn border-shadow update">
                          <span class="text-gradient"><i class="fa-sharp fa-solid fa-pen"></i></span>
                        </a>
                        <a href="#" class="btn border-shadow delete">
                          <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
                        </a>
                       
                    </td>
                </tr>
             </tbody>
            </table>
          </form>
        </div>
    </main>
    <!-- /main site -->
</body>
</html>